client:
  disableTFTPDaemon: true
  disableCiscoConfigDaemon: true
  timeout:
    callTimeout: 30000
    pingTimeout: 10000
remote:
  token: 'Authentication token here'
  url: 'http://localhost:3000'
tftpserver:
  hostip: '10.64.48.11'
devicedb: './devicedb.json'